body {
    background-color: black;
    font-family: Roboto;
    scroll-behavior: smooth;    
}

h1 {
    color: white;
    font-size: 100px;
    text-align: center;
    margin: 0;
}

body, .header, footer {
    margin: 0;
    font-family: Roboto;
}

.div-header {
    display: flex;
    justify-content: center;  
    align-items: center;      
    height: 100%;             
}

.header {
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("/images/food_only.jpg");
    background-repeat: no-repeat;
    width: 100%;
    background-size: cover;
    height: 30vh;
    background-position: 0 80%;
    position: relative;
    margin-bottom: 0;   
} 

.hero .nav-bar {
    border: 2px white solid; 
    margin-top: 0; 
    margin-bottom: 0; 
}

.hero .list {
    list-style: none; 
    padding: 0; 
    margin: 0; 
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
}

.hero .nav-bar li {
    padding: 10px; 
}

.hero .nav-bar li a {
    font-size: 20px; 
    text-decoration: none; 
    color: white; 
    font-weight: bolder; 
    transition: 0.5s; 
}

.hero .nav-bar li a:hover {
    background-color: white;
    color: black; 
    padding: 10px; 
    transition-duration: 0.25s; 
}

.hero .nav-bar li .home {
    margin-left: 15px;
}

.hero .nav-bar li .about {
    margin-right: 15px; 
}
h2,h3{
    color: white;
}
.menu-head{
    text-align: center;
    margin-bottom: 0;
    margin-top:0;
}
main h3{
    margin-left:6px;
    margin-top: 0;
    font-size: 30px;
}
.cart{
    color: white;
    text-align: right;
    margin-right:10px;
}
.cart a{
    color: white;
}
.menu-items{
    /* remove border */
    border:2px white solid;
    display: inline-block;
    background-color: white;
    margin-right: 16px;
    margin-bottom:15px;
}
.menu img{
    height:200px;
    margin:10px;
}
.menu img:hover{
    cursor: pointer;
}
.menu p{
    /* font-style: italic; */
    margin-bottom:0;
    margin-top: 0;
    font-weight: bold;
    margin-left: 7px;
    font-size:18px;
}
abbr{
    text-decoration: none;
}
.menu span{
        font-size: 15px;
}
.menu h2{
    margin-left:6px;
    font-size: 30px;
}
footer {
    bottom: 0; 
    left: 0; 
    width: 100%;
    text-align: center;
    padding: 10px 0;
}
footer .end-part{
    margin-bottom: 0;
}
footer .end-part,a {
    text-align: center;
    color: rgb(130, 126, 126); 
    font-weight: bold;
    margin: 0;
}
