body{
    background-color:black;
    font-family: Roboto;
    scroll-behavior:smooth;  
}
h1{
    color: white;
    font-size:100px;
    text-align: center;
    margin: 0;
}
body,.header,footer{
    margin: 0;
    font-family:Roboto;
}
.div-header {
    display: flex;
    justify-content: center;  
    align-items: center;      
    height: 100%;             
}

.header{
    background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url("images/food_only.jpg");
    background-repeat:no-repeat;
    width:100%;
    background-size: cover;
    height: 30vh;
    background-position: 0 80%;
    position: relative;
    margin-bottom:0;   
} 
.hero .list{
    list-style:none;  
    padding: 0;
    margin:0;
}
.hero .nav-bar .list{
    display: flex;
    justify-content: space-between;
}
.hero .nav-bar{
    /* background:linear-gradient(rgba(0,0,0,0.9),rgba(0,0,0,0.9)); */
    border: 2px white solid;
    margin-top:0;
    margin-bottom: 0;
}
.hero .nav-bar li{
    padding: 10px;
}
.hero .nav-bar li a{
    font-size:20px;
    text-decoration: none;
    color: white;
    font-weight: bolder;
    transition: 0.5s;
}
.hero .nav-bar li a:hover{
    background-color: white;
    color:black;
    padding: 10px;
    transition-duration: 0.25s;

}

.hero .nav-bar li .home
{
margin-left: 15px;
}
.hero .nav-bar li .about{
    margin-right:15px;
}
main .about-us h2{
    width:50%;
    color: white;
    font-size:75px;
}
main .about-us #Starter,#Finisher{
    color:white;
    font-weight: bold;
    width:92%;
    font-size:25px;    
}
.straight-line{
    border:2px whitesmoke solid;
    width: 50%;
    margin: auto;
}
#straight-line{
    margin-bottom:10px;
}
#get-in-touch h2{
    margin: 0;
    text-align: center;
    color: wheat;
}
#get-in-touch .logo-container{
    display: flex;
    justify-content:center;
    /* margin:5px; */
    margin-top: 8px;
    margin-bottom: 4px;
}
#get-in-touch .youtube,.instagram,.facebook,.gmail{
    margin-left: 40px;
    margin-top: 5px;
}
#get-in-touch .youtube{
    height: 49px;
}
#get-in-touch .instagram{
    height: 53px;
}
#get-in-touch .facebook{
    height: 47px;
}
#get-in-touch .gmail{
    height: 53px;
}
#get-in-touch .logo-container a img {
    transition: transform 0.5s ease, opacity 0.5s ease;
    opacity: 0.5;
}

/* #get-in-touch .logo-container a img {
    transition: transform 0.3s ease, filter 0.3s ease;
} */
/* 
get-in-touch .logo-container a:hover img {
transform: scale(1.1);
filter: brightness(1.5);
}
*/

#get-in-touch .logo-container a:hover img {
    transform: scale(1.2);
    opacity: 1; 
    
}
#get-in-touch .Address,.phone{
    margin: 0;
    line-height: 30px;
    color: wheat;
    text-align: center;
    font-weight: bold;
    font-size: larger;
}
footer p,a{
    margin:0;
}
footer .end-part,a{
    text-align: center;
    bottom: 0;
    color:rgb(130, 126, 126);
    font-weight: bold;
}
